/* Header Styles */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav {
    display: flex;
    gap: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  /* Logo Styles */
  .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
  }
  
  .logo img {
    width: 50px; /* Adjust the size as needed */
    height: 50px; /* Adjust the size as needed */
    margin-right: 10px; /* Add some spacing between the text and logo */
  }
  